h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas   
                    +navTemaItem('1', 'Manejo racional de plaguicidas', 'main.html#page/manejo_racional_plaguicidas/')
                    +navTemaItem('2', 'Salud, seguridad, reglamento, guías de manejo', 'main.html#page/salud_seguridad_reglamento/')   
                    +navTemaItem('3', 'Buenas prácticas de manejo de plagas', 'main.html#page/buenas_practicas/') 