h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.mb-0
          li.mb-3 #[strong 220201032-05.] Ajustar condiciones en la aplicación de plaguicidas a partir de los resultados de la revisión.
          li.mb-0 #[strong 220201032-06.] Revisar los resultados de la aplicación de plaguicidas con base en parámetros técnicos.