.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Ciclo de vida:
            | es el periodo de tiempo de vida de un organismo, durante el cual pasa o atraviesa por una etapa. 
        hr
        p
            strong.mr-2 Dosis:
            | es la cantidad de producto a utilizar, que es recomendado para determinado fin.
        hr
        p
            strong.mr-2 Formulación:
            | se refiere a la forma o presentación del producto. Existen formulaciones líquidas, sólidas o gaseosas. 
        hr
        p
            strong.mr-2 Mezcla:
            | la mezcla se refiere a la adición de sustancias en un orden determinado en un mismo recipiente.  
        hr
        p
            strong.mr-2 Plagas: 
            | son considerados en este grupo los organismos no deseados dentro de un cultivo al alcanzar un nivel de daño económico importante.  
        hr
        p
            strong.mr-2 Umbral de daño: 
            | son los diferentes niveles de daño que puede alcanzar un organismo.  
        

        