.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Decreto 4109 de 2011. Departamento administrativo de la Función Pública. Por el cual se cambia la naturaleza jurídica del Instituto Nacional de Salud -INS y se determina su objeto y estructura. 
                    td PDF
                    td 
                        a(href="media/complementario/DECRETO_4109_DE_2011.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td Manual sobre elaboración y empleo de las Especificaciones de la FAO y de la OMS para Plaguicidas 
                    td PDF
                    td 
                        a(href="media/complementario/PestSpecsManual.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  

                tr
                    td Resolución N° 2075. Manual Técnico Andino para el Registro y Control de Plaguicidas Químicos de Uso Agrícola
                    td PDF
                    td 
                        a(href="media/complementario/RESOLUCION_2075.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  