include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Decreto 4109 de 2011. [Departamento administrativo de la Función Pública]. Por el cual se cambia la naturaleza jurídica del Instituto Nacional de Salud -INS y se determina su objeto y estructura. 02 de noviembre de 2011.", "")
        +referenciaItem("Espinosa, J. 2003. Manual Técnico. Muestreo para el Control de la Calidad de Plaguicidas Agrícolas. Ministerio de Desarrollo Agropecuario. Organismo Internacional Regional de Sanidad Agropecuaria. Panamá. 55 p.", "")
        +referenciaItem("ICA.2009. Mis buenas prácticas agrícolas. Ministerio de Agricultura y Desarrollo Rural. Bogotá D.C. 39 p. ", "")
        +referenciaItem("FAO, OMS. 2010. Manual sobre elaboración y empleo de las Especificaciones de la FAO y de la OMS para Plaguicidas. Roma. Noviembre de 2010. 305 p.", "")
        +referenciaItem("Raggio, P. 2018. Orden de mezcla de productos en el tanque de la pulverizadora. Informe Técnico Syngenta.6 P.  ", "")
        +referenciaItem("Ramírez, J. A., & Lacasaña, M. (2001). Plaguicidas: clasificación, uso, toxicología y medición de la exposición. Arch Prev Riesgos Labor, 4(2), 67-75.", "")
        +referenciaItem("Resolución 2075 de 2019. [Comisión de la Comunidad Andina]. Manual Técnico Andino para el Registro y Control de plaguicidas químicos de uso agrícola.", "")
        
                 


        


        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            