.container#tema_1

    .header-ecored
        h1 1. Manejo racional de plaguicidas  

    .jumbotron.bg-white          

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="").img-fluid      
        .col-12
          p El conocimiento a fondo de los plaguicidas es fundamental para realizar un manejo racional y eficiente de las plagas y enfermedades. Por lo anterior, esta unidad se fundamenta en temas relacionados con la formulación, dosificación y el procedimiento adecuado de la elaboración de mezclas de aplicación, donde es fundamental el conocimiento de las etiquetas y en ellas, los ingredientes activos y la compatibilidad entre ellos. 
          p La aplicación de guías de manejo que incluyan pautas claras acerca del uso de los elementos de protección personal y el cumplimiento de la normatividad vigente es requisito en toda empresa donde se manipulen este tipo de productos. 
          p.mb-0 El conocimiento del organismo a controlar es muy importante para la definición de aspectos como el tipo de productos a utilizar, el tipo de formulación, el método, época y dosis a aplicar, por ello es relevante estudiar los ciclos de vida y estructuras reproductoras de los organismos y el umbral de daño que ha ejercido este sobre el o los individuos de interés sanitario.    