.container#tema_2

    .header-ecored
        h1 2. Salud, seguridad, reglamento, guías de manejo    

    .jumbotron.bg-white          

      .row.justify-content-center.mb-3
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/info_2_01.svg", alt="").img-fluid 

      .row.justify-content-center
        .col-auto.mt-5        
          a(href="media/documentos/Anexo_8_Resolucion_2075.pdf", target="_blank", style="color:#12263F")
            .jumbotron
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_pdf.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Anexo 8:] Resolución 2075 de 2019. Comunidad Andina