.container#tema_3

    .header-ecored
        h1 3. Buenas prácticas de manejo de plagas

    .jumbotron.bg-white    
      .row
        .col-12
          .header-ecored.mt-3
            h2 Generalidades de las plagas      

      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p Video pendiente

