.container#tema_1

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.1 Formulación, manejo de dosis y mezclas

      .row.mb-4
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PibpWfJ2jT0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')             

      .row
        p “Para el manejo racional de plaguicidas es fundamental el conocimiento de los productos a aplicar, así como la formulación, los tipos de formulaciones, el manejo apropiado para las dosis recomendadas y el procedimiento para realizar una mezcla.”

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="").img-fluid 

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/info_1_1_01.svg", alt="").img-fluid 

      .hr-divider.my-5

      .row.mb-3
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3.mb-3 Manejo de dosis
              p.mb-0 Dosis es la cantidad de producto plaguicida que se debe aplicar en áreas determinadas. Las dosis vienen sugeridas en la etiqueta del producto, sin embargo, es de resaltar que la prescripción debe realizarla el profesional autorizado y con tarjeta profesional vigente.
              p La dosificación de un producto se realiza teniendo en cuenta que:

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/info_1_1_02.svg", alt="").img-fluid 

      .row.justify-content-center
        .col-12
          p #[strong Ejemplo:] La dosis recomendada en una etiqueta está en un rango de 1 a 1.5 litros por hectárea, esto en un cultivo de frijol; para un cultivo de papa puede ser de 1.5 a 3 litros por hectárea. Siempre dependiendo de la edad del cultivo y del umbral de daño, se pueden elegir dosis baja, media o alta dentro del rango sugerido. Es importante señalar que los agroquímicos pueden encontrarse en polvo o gránulos, por lo que las dosis serían en gramos o kilogramos por hectárea.
          p Teniendo en cuenta que La Organización de las Naciones Unidas para la Alimentación y la Agricultura (FAO por sus siglas en inglés), junto con la Organización Mundial de la Salud (OMS, en inglés WHO - World Health Organization), han emitido el Manual sobre elaboración y empleo de las especificaciones de la FAO y de la OMS para Plaguicidas, es indispensable revisar la información contenida en cuanto a formulaciones en la página oficial de la FAO, la cual puede consultar en el siguiente enlace:
        .col-auto.mt-5        
          a(href="http://www.fao.org/agriculture/crops/mapa-tematica-del-sitio/theme/pests/jmps/manual/es/", target="_blank", style="color:#12263F")
            .jumbotron
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 NSP - Manual sobre desarrollo y utilización de las especificaciones de FAO y de OMS para plaguicidas

      .row.justify-content-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/info_1_1_03.svg", alt="").img-fluid 

      .hr-divider.my-5

      .row.justify-content-center.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3.mb-4 Manejo de mezclas
              p A continuación, se presentan las normas para la preparación de la mezcla: 
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Comprobar el correcto funcionamiento del equipo de aplicación.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Leer de manera completa el contenido de la etiqueta del producto.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Elegir la dosis correcta para cultivo, densidad, área, concentración del producto, etc.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Aplicar medidas de precaución durante la manipulación del producto concentrado, usando el equipo de protección correspondiente, evitando el contacto con la piel y ojos.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Preparar la mezcla en lugar abierto, de espaldas al viento, y con agua limpia.

              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Alistar los materiales para la medición del producto:  gramera, pesos, recipientes, embudos, los cuales deben lavarse después de su uso (exclusivo para esta labor).
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Calcular el volumen de mezcla de acuerdo con el área a aplicar y la edad del cultivo.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Para sólidos solubles, disolver en un balde antes de mezclar en el tanque de aplicación.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Los líquidos pueden ir directamente al tanque de aplicación con la mitad del agua requerida para el volumen de aplicación.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Cuando se requiera más de un producto, la mezcla se realizará si son compatibles y no representan un riesgo para el cultivo, el medio ambiente o el ser humano y siguiendo el orden de adición de estos.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Si el producto se termina antes de cubrir el área, el tanque debe lavarse 3 veces y adicionar ese sobrante al tanque de tratamiento.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt              
                  p.mb-0 Emplear la mezcla antes de que transcurra el día, con el fin de evitar la pérdida de sus propiedades.  

      .row.justify-content-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_1/info_1_1_04.svg", alt="").img-fluid        
         
