.container#tema_3

    .jumbotron.bg-white    
      .row
        .col-12
          .header-ecored.mt-3
            h2 3.1 Clasificación

      .row.mb-6
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gS80Wl3iQPA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     
                      

      .row.justify-content-center.mb-6
        .col-12.col-lg-9.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_3_2_01.png", alt="", style="width:100%").img-fluid
      .row.justify-content-center.mb-6
        .col-12.col-lg-9.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_3_2_02.png", alt="", style="width:100%").img-fluid
      .row.justify-content-center.mb-6
        .col-12.col-lg-9.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_3_2_03.png", alt="", style="width:100%").img-fluid

      .row.justify-content-center
        .col-auto.mt-5        
          a(href="media/documentos/Anexo_9_ Algunos_organismos_que_afectan_cultivos.pdf", target="_blank", style="color:#12263F")
            .jumbotron
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_pdf.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Anexo 9:] Algunos organismos que afectan cultivos