.container#tema_1_4

    .header-ecored
        h1 1. Manejo racional de plaguicidas     

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.4 Métodos de aplicación 

      .row.mb-6
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gykH43KHWoM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                       

      .row.justify-content-center.mb-5
        .col-12.col-lg-11.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_1_4_01.svg", alt="", style="width:100%").img-fluid

      .row.justify-content-center
        .col-auto.mt-5        
          a(href="media/documentos/Anexo_7_No_utilizar_el_sanitario.pdf", target="_blank", style="color:#12263F")
            .jumbotron
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_pdf.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Anexo 7:] No utilizar el sanitario